.row {
    color: white;
    margin-left: 20px;
  }

  .title{
    position: relative;
    left: 50%;
  }
  
  .posters {
    display: flex;
    overflow-y: hidden;
    overflow-x: scroll;
    padding: 20px;
    border-radius: 15px;
    cursor: pointer;

  }
  
  .posters::-webkit-scrollbar {
    display: none;
  }
  
  .poster {
    object-fit: contain;
    width: 100%;
    max-height: 150px;
    margin-right: 10px;
    transition: transform 450ms;
  }
  
  .poster:hover {
    transform: scale(1.1);
  }
  
  .row-posterLarge {
    max-height: 150px;
  }
  
  .row-posterLarge:hover {
    transform: scale(1.2);
  }

  