.banner {
    color: whitesmoke;
    object-fit: contain;
    height: 350px;
  }
  
  .banner-contents {
    margin-left: 30px;
    padding-top: 140px;
    height: 200px;
  }
  
  .banner-title {
    font-size: 3rem;
    font-weight: 800;
    padding-bottom: 0.3rem;
  }
  
  .banner-description {
    width: 45rem;
    line-height: 1.3;
    font-size: 0.8rem;
    max-width: 360px;
    height: 80px;
    background-color: rgb(10, 10, 10, 0.1);

  }
  
  .banner-button {
    cursor: pointer;
    color: whitesmoke;
    outline: none;
    border: none;
    font-weight: 700;
    border-radius: 0.2vw;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    margin-right: 1rem;
    background-color: rgba(54, 54, 54, 0.5);
    position: relative;
    top: 85px;
    left: 46%;
  
  }
  
  .banner-button:hover {
    color: #000;
    background-color: #8b9bf6;
    transition: all 0.2s;
  }
  
  /* .banner--fadeBottom {
    height: 13.2rem;
    background-image: linear-gradient(180deg, transparent, rgba(37, 37, 37, 0.61), #111);
  } */